<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账款查询</title>
    <link rel="stylesheet" type="text/css" href="{% static 'queryReceipt.css' %}">
</head>
<body>
    <div class="query-div">
        {% if error_message %}<p class="warning"><strong>{{ error_message }}</strong></p>{% endif %}
        
        <form action="{% url 'queryReceipt'  %}" method="post">
            {% csrf_token %}
            <input class="query-text" type="text" name="title" placeholder="账款标题"/><br/>
            <input class="query-button" type="submit" value="查询"/>
        </form>
    </div>
    <div class="menu-link"><a href="menu">返回</a></div>
</body>